body{
    background-color: #4f4f4f;
    margin: 0;
    font-family: sans-serif;
}

header{
    color:white;
    background-color: #333;
    padding: 25px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px; 
}

nav{
    background-color: #773;
    padding: 10px;
    text-align: center;
}

section{
    padding: 10px;
    margin: 0px;
    background-color: #777;
}

h2{
    color: #333;
    text-align: center;
}

ul{
    margin-left: 20px;
}

p{
    line-height: 1.6;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 10px;
}